.field-container {
  padding: .5rem 1rem;
}

div.q-card::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

div.q-card::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

div.q-card::-webkit-scrollbar-thumb
{
  background-color: $primary;
  border-radius: 10px;
}

.hyperlink {
  color: $accent;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.company-category {
  .q-gutter-x-sm > * {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  .order-4 {
    order: 4;
  }
  .order-5 {
    order: 5;
  }
  .order-6 {
    order: 6;
  }
  .order-7 {
    order: 7;
  }
  .order-8 {
    order: 8;
  }
  .order-9 {
    order: 9;
  }
  .order-10 {
    order: 10;
  }
  .order-11 {
    order: 11;
  }
  .order-12 {
    order: 12;
  }
  .order-13 {
    order: 13;
  }
  .order-14 {
    order: 14;
  }
  .order-15 {
    order: 15;
  }
  .order-16 {
    order: 16;
  }
  .order-17 {
    order: 17;
  }
  .order-18 {
    order: 18;
  }
  .order-19 {
    order: 19;
  }
  .order-20 {
    order: 20;
  }
  .order-21 {
    order: 21;
  }
  .order-22 {
    order: 22;
  }
  .order-23 {
    order: 23;
  }
  .order-24 {
    order: 24;
  }
}

.input-ribasso.q-field--outlined .q-field__control:not(.text-negative) {
  &:before {
    border: 3px solid $accent;
  }
}


